<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven/>
    <context:component-scan base-package="cn.kgc.ybis.controller"></context:component-scan>

    <!-- 配置视图解析器 -->
    <!-- Example: prefix="/WEB-INF/views/", suffix=".jsp", viewname="index" -> "/WEB-INF/views/index.jsp"  -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--静态资源引入-->
    <mvc:resources mapping="/static/**" location="/static/"/>
<!--    <mvc:resources mapping="/charts/**" location="/static/charts/"/>-->
<!--    <mvc:resources mapping="/css/**" location="/static/css/"/>-->
<!--    <mvc:resources mapping="/font/**" location="/static/font/"/>-->
<!--    <mvc:resources mapping="/images/**" location="/static/images/"/>-->
<!--    <mvc:resources mapping="/js/**" location="/static/js/"/>-->
<!--    <mvc:resources mapping="/lib/**" location="/static/lib/"/>-->
<!--    <mvc:resources mapping="/pages/**" location="/pages/"/>-->
    <mvc:default-servlet-handler/>
    <!--文件解析器-->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver">
        <property name="maxUploadSize" value="5000000"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    <!--拦截器-->
<!--    <mvc:interceptors>-->
<!--       <mvc:interceptor>-->
<!--           <mvc:mapping path="/**"/>-->
<!--           <bean class="cn.kgc.ybis.Interceptor.MyInterceptor"/>-->
<!--       </mvc:interceptor>-->
<!--    </mvc:interceptors>-->

    <!--异常处理-->
<!--    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
<!--        <property name="exceptionMappings">-->
<!--            <props>-->
<!--                <prop key="java.lang.RuntimeException">forward:/error/error1.jsp</prop>-->
<!--                <prop key="java.lang.NullPointerException">forward:/error/error2.jsp</prop>-->
<!--                <prop key="java.lang.ArithmeticException">forward:/error/error3.jsp</prop>-->
<!--            </props>-->
<!--        </property>-->
<!--    </bean>-->
</beans>